<% if user_signed_in? %>
            <div class="jumbotron jumbotron-home">
                <div class="container">
                <h1>Welcome back!</h1>
                </div>
            </div>
<% else %>
<div class="jumbotron jumbotron-home">
    <div class="container">
            <h1>Make Your Work Shine</h1>
            <p>Got Art? </p>
            <%= link_to "Learn more »", "#", class: "btn btn-primary btn-lg" %> 
    </div>
</div>

<div class="container welcome">
    <div>
        <h1>
            Great Art Meets A Great Place
        </h1>
        <p>A piece of art always looks better with a good frame. Think of us like that. We're the frame. Or a nice gallery. A really nice gallery.</p>
    </div> 
</div>
<hr>
<div class="container knowmore">
    <div class="row">
        <div class="col-md-6 writers">
            <h2>For Writers</h2>
            <p>Have some typing chops but don't have a proper place to put all your amazing work? Start here. </p>
            <p><%= link_to "View details", "#", class: "btn btn-primary" %></p>
        </div>
        <div class="col-md-6 artists">
            <h2>For Artists</h2>
            <p>Got some art you'd like to show off? You've come to the right place.</p>
            <p><%= link_to "View details", "#", class: "btn btn-primary" %></p>
        </div>

    </div>
</div>

<% end %>